* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 15px;
}

.child:nth-child(1) {
    flex-grow: 1;
}

.child:nth-child(2) {
    flex-grow: 4;
}

.child:nth-child(3) {
    flex-grow: 1;
}

.child:nth-child(4) {
    flex-grow: 1;
}

.container2 {
    display: flex;
    height: 100%;
    gap: 15px;
}

.child2:nth-child(1) {
    flex-grow: 4;
}

.child2:nth-child(2) {
    flex-grow: 1;
}

.container3 {
    display: flex;
    height: 100%;
    gap: 15px;
}

.child3:nth-child(1) {
    flex-grow: 1;
}

.child3:nth-child(2) {
    flex-grow: 2;
}

.container4 {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 15px;
}

.child4:nth-child(1) {
    flex-grow: 1;
}

.child4:nth-child(2) {
    flex-grow: 2;
}

.container5 {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 15px;
}

.child5:nth-child(1) {
    flex-grow: 2;
}

.child5:nth-child(2) {
    flex-grow: 1;
}

/* SPALVA */
.green {
    background-color: greenyellow;
}